/* Figma Styles of your File */
:root {
  /* Colors */
  --color-primary: #FF5733;
  --color-secondary: #33FF57;
  --color-background: #F0F0F0;

  /* Fonts */
  --font-family-primary: 'Arial, sans-serif';


  /* Effects */


  /* Gradients */


  /* Shadows */

  /* Borders */

  /* Spacings */


}